# XcodeGen で生成されるため Git 管理しない
*.xcodeproj
*.xcworkspace

# Xcode ビルド成果物
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (使用する場合)
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
